In [1]:
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import numpy as np
import time

## Select non ignition points for ML model

In [2]:
fire_season = True

if fire_season == True:
    # months to remove
    months = [1, 2, 3, 4, 5, 11, 12]
    season_name = 'fire-season'
else: 
    # months to remove
    months = [6, 7, 8, 9, 10]
    season_name = 'out-of-season'

In [3]:
folder = 'ML-data-Med-Central-Europe-gridded'

### 1. Assemble list of ignition points

In [4]:
path = "O:/Climate-and-Energy-Policy/CERM/Projects/Wildfire/Data/" + folder + "/"

savepath = "O:/Climate-and-Energy-Policy/CERM/Projects/Wildfire/Data/" + folder + "/"

In [5]:
predictor = gpd.read_file(path + 'historical_ignition/EFFIS_Burned_Areas_2008-2023_greater10ha_grided.shp')

In [6]:
predictor

,id,initialdat,finaldate,area_ha,iso2,admlvl1,admlvl2,admlvl3,admlvl5,map_source,...,coniferous,mixed_fore,sclerophil,transition,other_natu,agricultur,artificial,other_perc,natura2k_p,geometry
0,68501.0,2022-01-16,2022/01/16 13:10:00.000,16,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-de-Haute-Provence,Fugeret,sentinel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4055897.62 2330024.857, 4055906.614 ..."
1,68503.0,2020-02-10,2020/02/10 00:00:00.000,26,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-Maritimes,Saint-Auban,sentinel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4056992.338 2308130.216, 4057012.551..."
2,68503.0,2022-01-13,2022/01/13 13:16:00.000,13,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-Maritimes,Briançonnet,sentinel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4060696.301 2313002.716, 4060597.906..."
3,68503.0,2023-03-12,2023/03/12 01:21:00.000,21,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-Maritimes,Briançonnet,sentinel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4062643.325 2313621.909, 4062681.415..."
4,68506.0,2008-05-11,2008/05/11 00:00:00.000,41,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Var,Montauroux,modis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4060158.823 2277343.775, 4060054.248..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38358,886.0,2021-05-10,2021-05-12 00:00:00,49,None,Repuplika Srpska,Foča,Rudo,None,None,...,17.307692,71.153846,0.0,0.000000,0.0,11.538462,0.0,0.000000,0.0,"POLYGON ((5082288.246 2337322.493, 5082278.868..."
38359,911.0,2019-03-18,2019-03-18 00:00:00,42,None,Zlatiborski,Bajina Bašta,None,None,None,...,0.000000,0.000000,0.0,0.000000,0.0,11.904762,0.0,2.380952,0.0,"POLYGON ((5090693.318 2372610.837, 5090718.612..."
38360,911.0,2020-04-06,2020-04-06 00:00:00,195,None,Repuplika Srpska,Vlasenica,Srebrenica,None,None,...,5.154639,0.000000,0.0,1.030928,0.0,73.711340,0.0,0.000000,0.0,"MULTIPOLYGON (((5083562.474 2374279.999, 50835..."
38361,911.0,2022-03-25,2022-03-26 00:00:00,24,None,Repuplika Srpska,Vlasenica,Srebrenica,None,None,...,0.000000,0.000000,0.0,0.000000,0.0,47.826087,0.0,0.000000,0.0,"POLYGON ((5087936.588 2371109.343, 5087985.486..."
38362,911.0,2022-03-25,2022-03-26 00:00:00,17,None,Zlatiborski,Bajina Bašta,None,None,None,...,0.000000,0.000000,0.0,0.000000,0.0,37.500000,0.0,0.000000,0.0,"POLYGON ((5088263.002 2370959.833, 5088294.747..."

In [7]:
predictor['date'] = pd.to_datetime(predictor['initialdat'], infer_datetime_format=True)

C:\Users\ophme\AppData\Local\Temp\ipykernel_10592\988366068.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  predictor['date'] = pd.to_datetime(predictor['initialdat'], infer_datetime_format=True)

In [8]:
predictor

,id,initialdat,finaldate,area_ha,iso2,admlvl1,admlvl2,admlvl3,admlvl5,map_source,...,mixed_fore,sclerophil,transition,other_natu,agricultur,artificial,other_perc,natura2k_p,geometry,date
0,68501.0,2022-01-16,2022/01/16 13:10:00.000,16,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-de-Haute-Provence,Fugeret,sentinel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4055897.62 2330024.857, 4055906.614 ...",2022-01-16
1,68503.0,2020-02-10,2020/02/10 00:00:00.000,26,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-Maritimes,Saint-Auban,sentinel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4056992.338 2308130.216, 4057012.551...",2020-02-10
2,68503.0,2022-01-13,2022/01/13 13:16:00.000,13,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-Maritimes,Briançonnet,sentinel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4060696.301 2313002.716, 4060597.906...",2022-01-13
3,68503.0,2023-03-12,2023/03/12 01:21:00.000,21,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-Maritimes,Briançonnet,sentinel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4062643.325 2313621.909, 4062681.415...",2023-03-12
4,68506.0,2008-05-11,2008/05/11 00:00:00.000,41,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Var,Montauroux,modis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4060158.823 2277343.775, 4060054.248...",2008-05-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38358,886.0,2021-05-10,2021-05-12 00:00:00,49,None,Repuplika Srpska,Foča,Rudo,None,None,...,71.153846,0.0,0.000000,0.0,11.538462,0.0,0.000000,0.0,"POLYGON ((5082288.246 2337322.493, 5082278.868...",2021-05-10
38359,911.0,2019-03-18,2019-03-18 00:00:00,42,None,Zlatiborski,Bajina Bašta,None,None,None,...,0.000000,0.0,0.000000,0.0,11.904762,0.0,2.380952,0.0,"POLYGON ((5090693.318 2372610.837, 5090718.612...",2019-03-18
38360,911.0,2020-04-06,2020-04-06 00:00:00,195,None,Repuplika Srpska,Vlasenica,Srebrenica,None,None,...,0.000000,0.0,1.030928,0.0,73.711340,0.0,0.000000,0.0,"MULTIPOLYGON (((5083562.474 2374279.999, 50835...",2020-04-06
38361,911.0,2022-03-25,2022-03-26 00:00:00,24,None,Repuplika Srpska,Vlasenica,Srebrenica,None,None,...,0.000000,0.0,0.000000,0.0,47.826087,0.0,0.000000,0.0,"POLYGON ((5087936.588 2371109.343, 5087985.486...",2022-03-25
38362,911.0,2022-03-25,2022-03-26 00:00:00,17,None,Zlatiborski,Bajina Bašta,None,None,None,...,0.000000,0.0,0.000000,0.0,37.500000,0.0,0.000000,0.0,"POLYGON ((5088263.002 2370959.833, 5088294.747...",2022-03-25

In [9]:
# remove months not needed for selected season
for m in months:
    predictor = predictor[~(predictor.date.dt.month == m )]

In [10]:
predictor

,id,initialdat,finaldate,area_ha,iso2,admlvl1,admlvl2,admlvl3,admlvl5,map_source,...,mixed_fore,sclerophil,transition,other_natu,agricultur,artificial,other_perc,natura2k_p,geometry,date
5,68507.0,2017-09-02,2017/09/02 00:00:00.000,60,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Var,Fréjus,modis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4056988.878 2269571.49, 4056987.829 ...",2017-09-02
7,68716.0,2017-10-05,2017/10/05 00:00:00.000,43,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-de-Haute-Provence,Val d'Oronaye,modis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4068366.772 2378490.378, 4068374.916...",2017-10-05
11,68722.0,2023-10-06,2023/10/06 13:36:00.000,40,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-de-Haute-Provence,Rochette,sentinel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4069854.299 2318224.778, 4069850.41 ...",2023-10-06
14,68725.0,2015-07-30,2015/07/30 00:00:00.000,109,FR,Provence-Alpes-Côte d’Azur,Provence-Alpes-Côte d’Azur,Alpes-Maritimes,Saint-Vallier-de-Thiey,modis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4068528.688 2295162.115, 4068839.094...",2015-07-30
30,69148.0,2017-10-22,2017/10/30 00:00:00.000,3534,IT,Nord-Ovest,Piemonte,Torino,Mompantero,modis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((4093879.27 2455289.001, 4089566.834 ...",2017-10-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38333,852.0,2012-08-26,2012-08-26 00:00:00,81,None,Repuplika Srpska,Vlasenica,Srebrenica,None,None,...,0.000000,0.0,3.703704,0.00000,1.234568,0.0,0.0,0.0,"POLYGON ((5068982.163 2380839.356, 5069113.561...",2012-08-26
38342,855.0,2021-06-30,2021-07-01 00:00:00,13,None,Repuplika Srpska,Foča,Višegrad,None,None,...,0.000000,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,"POLYGON ((5070895.75 2352288.888, 5070896.917 ...",2021-06-30
38346,882.0,2012-08-21,2012-08-21 00:00:00,146,None,Repuplika Srpska,Vlasenica,Srebrenica,None,None,...,0.000000,0.0,21.621622,0.00000,61.486486,0.0,0.0,0.0,"POLYGON ((5079694.887 2372305.799, 5079649.716...",2012-08-21
38356,885.0,2012-08-26,2012-08-26 00:00:00,678,None,Zlatiborski,Bajina Bašta,None,None,None,...,26.587888,0.0,67.355982,6.05613,0.000000,0.0,0.0,0.0,"POLYGON ((5075555.515 2348730.383, 5075796.261...",2012-08-26
38357,886.0,2015-08-09,2015-08-09 00:00:00,44,None,Repuplika Srpska,Foča,Rudo,None,None,...,0.000000,0.0,29.545455,0.00000,0.000000,0.0,0.0,0.0,"POLYGON ((5078670.715 2333587.229, 5078432.589...",2015-08-09

In [11]:
df_ignit = pd.DataFrame()

In [12]:
df_ignit['id'] = predictor.id.astype('int32')

In [13]:
df_ignit['date'] =  predictor['date'] 
df_ignit['ignit'] = 1

In [14]:
df_ignit = df_ignit.dropna()

In [15]:
# Remove values due to rolling mean and sum nan values
df_ignit = df_ignit[~(df_ignit.date < '2008-01-07')] 
df_ignit = df_ignit[~(df_ignit.date > '2023-12-24')] 

for m in months:
    df_ignit = df_ignit[~(df_ignit.date.dt.month == m )]

In [16]:
df_ignit['date'] = df_ignit.date.dt.date

In [18]:
# Remove IDs which are located too far from ERA5-land data

if folder == 'ML-data-Europe-gridded':
    ids_to_remove = [43718,
                     43717,
     78261,
     78262,
     78481,
     78482,
     79375,
     79595,
     80031,
     80251,
     80440,
     84398,
     101131,
     101570,
     105745,
     105965,
     106184,
     106189,
     106403,
     106404,
     106408,
     106409,
     106623,
     106624,
     106627,
     106628,
     106629,
     106636,
     106848,
     106849,
     106854,
     107070,
     107076,
     107511,
     107735,
     107960,
     107961,
     108179,
     108180,
     108181,
     108394,
     108395,
     108396,
     108397,
     108398,
     108399,
     108400,
     108614,
     108615,
     108616,
     108617,
     108618,
     108619,
     108838,
     112786,
     113006,
     113226]

elif folder == 'ML-data-Northern-Europe-gridded':
    ids_to_remove = [5102,
     5103,
     113369,
     113370,
     6637,
     6638,
     10571,
     113913,
     113914,
     114900,
     114901,
     114902,
     33569,
     33570,
     33571,
     33801,
     33802,
     33920,
     33921,
     34152,
     34153,
     34272]
elif folder == 'ML-data-Med-Central-Europe-gridded':
    ids_to_remove = [43718,
                     43717,
     78261,
     78262,
     78481,
     78482,
     79375,
     79595,
     80031,
     80251,
     80440,
     84398,
     101131,
     101570,
     105745,
     105965,
     106184,
     106189,
     106403,
     106404,
     106408,
     106409,
     106623,
     106624,
     106627,
     106628,
     106629,
     106636,
     106848,
     106849,
     106854,
     107070,
     107076,
     107511,
     107735,
     107960,
     107961,
     108179,
     108180,
     108181,
     108394,
     108395,
     108396,
     108397,
     108398,
     108399,
     108400,
     108614,
     108615,
     108616,
     108617,
     108618,
     108619,
     108838,
     112786,
     113006,
     113226,
     5102,
     5103,
     113369,
     113370,
     6637,
     6638,
     10571,
     113913,
     113914,
     114900,
     114901,
     114902,
     33569,
     33570,
     33571,
     33801,
     33802,
     33920,
     33921,
     34152,
     34153,
     34272]
else:
    ids_to_remove = []

    
for remove_id in ids_to_remove:
    df_ignit = df_ignit[df_ignit.id != remove_id]

In [19]:
df_ignit = df_ignit.reset_index(drop = True)

In [20]:
df_ignit

          id        date  ignit
0      68507  2017-09-02      1
1      68716  2017-10-05      1
2      68722  2023-10-06      1
3      68725  2015-07-30      1
4      69148  2017-10-22      1
...      ...         ...    ...
22513    852  2012-08-26      1
22514    855  2021-06-30      1
22515    882  2012-08-21      1
22516    885  2012-08-26      1
22517    886  2015-08-09      1

[22518 rows x 3 columns]

### 2. Assemble a list of non ignition points

Here we create a dataset with the same size as the ignition points dataset. A random location & date is picked.

In [21]:
grid_data = gpd.read_file(path + 'grid/europe_10km_grid.shp')

In [22]:
grid_data['id'] = grid_data.id.astype('int32')

In [23]:
grid_data

          id                                           geometry
0      68467  POLYGON ((4053879.27 2675289.001, 4063879.27 2...
1      68468  POLYGON ((4063494.246 2659010.778, 4062388.158...
2      68474  POLYGON ((4054706.808 2599863.56, 4058556.835 ...
3      68475  POLYGON ((4053879.27 2595289.001, 4063879.27 2...
4      68476  POLYGON ((4053879.27 2585289.001, 4063879.27 2...
...      ...                                                ...
35410    911  POLYGON ((5083583.072 2378837.979, 5085774.98 ...
35411    912  POLYGON ((5087421.872 2368837.979, 5086757.453...
35412    914  POLYGON ((5083562.474 2338837.979, 5083562.474...
35413    915  POLYGON ((5084786.415 2338837.979, 5087153.208...
35414    916  POLYGON ((5086152.47 2328837.979, 5085821.759 ...

[35415 rows x 2 columns]

In [24]:
for remove_id in ids_to_remove:
    grid_data = grid_data[grid_data.id != remove_id]

In [25]:
grid_data = grid_data.reset_index(drop = True)

In [26]:
location_ids = grid_data.id.unique() # all locations
dates = pd.date_range('2008-01-07', '2023-12-24') # all dates apart from first 7 and last 7 due to rolling means and sums
dates = dates[ ~((dates.month == 2) & (dates.day == 29))] # remove leap year days 

for m in months:
    dates = dates[ ~(dates.month == m)]

#### Select random ids

In [27]:
t0 = time.time()
df_non_ignit = pd.DataFrame()
df_non_ignit['id'] = ''
df_non_ignit['date'] = ''

i = 0

while len(df_non_ignit) != len(df_ignit):

    choice_id = np.random.choice(location_ids) # select a random id
    choice_date = np.random.choice(dates) # select a random date

    # Make sure to not select the same combination of id /
    # and date as in the df_ignit 
    if ((choice_id == df_ignit.id) & (choice_date ==  df_ignit.date.astype('string'))).any():
        print('Historical ignition location / date')
        continue
    elif ((choice_id == df_non_ignit.id) & (choice_date ==  df_non_ignit.date.astype('string'))).any():
        print('Location / date combination already in list')
        continue
    else:     
        df_non_ignit.loc[i, ['id']] = choice_id
        df_non_ignit.loc[i, ['date']] = choice_date
        i = i + 1
t1 = time.time()
print(t1 -t0)

672.1089468002319

In [28]:
df_non_ignit['date'] = df_non_ignit['date'].astype('datetime64[ns]')
df_non_ignit['ignit'] = 0

In [29]:
df_all = pd.concat([df_ignit, df_non_ignit], ignore_index = True)

In [30]:
df_all['date'] = df_all.date.astype('datetime64[ns]')

In [31]:
df_all = df_all.set_index('id')

In [32]:
df_all

            date  ignit
id
68507 2017-09-02      1
68716 2017-10-05      1
68722 2023-10-06      1
68725 2015-07-30      1
69148 2017-10-22      1
...          ...    ...
78426 2011-06-11      0
27833 2009-06-14      0
57467 2014-10-02      0
64043 2017-06-08      0
55096 2017-06-27      0

[45036 rows x 2 columns]

In [33]:
df_all.to_csv(savepath + '/selected_points_'+ season_name + '.csv')